* {
    margin: 0;
    padding: 0;
    box-sizing: borde-box
}
.form_client {
	width: 400px;
	background:  #F9EBEA ;
	padding: 30px ;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: black;
	box-shadow: 7px 13px 37px #000;
	}

.form_client p{
font-size: 22px;
margin-bottom: 20px;
}

.controls {
width: 100%;
background: #b7e1e5;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #93d0d2;
font-family: 'calibri';
font-size: 18px;

}

p {
    width: 100%;
    background: #F9EBEA;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #F9EBEA;
    font-family: 'calibri';
    font-size: 18px;
   
}

.form_client p {
height: 40px;
text-align: left;
font-size: 18px;
line-height: 40px;
}

.form_client {

text-decoration: none;
}

.form_client p {

text-decoration: line;
}

.form_client .button {
width: 30%;
background:gray;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
}
li {

text-align: center;
}

img {
    height: 80px;
    width: 80px;
}

header {
    background:  #F9EBEA;
    color:  #F9EBEA;
    height: 80px;
}
a {
    float: right;
    position: absolute;
}

section {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav  li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color:  #F9EBEA;
}

nav li p{
    background: #536262;
    
}
#main-footer  {
    background:  #F9EBEA;
    color:  #F9EBEA;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#main-footer a {
    color: white;
}
#send, #reset {
	background-color: gray;
	border-color: black ;
	font-size: 20px;
	border-radius: 5px;
	color: #FFFFFF;
    margin: auto;
    left: 50%
}